{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Crie sua conta para continuar</h1>
        <hr>
        
        <form method="POST" action="" class="border p-4 mt2">
            <legend>Página de Criar Conta</legend>
            <fieldset>
                <div class="form-group">
                    {{ form_criarconta.username.label (class="form-control-label")}}
                    {{ form_criarconta.username (class="form-control")}}
                </div>

                <div class="form-group">
                    {{ form_criarconta.email.label (class="form-control-label")}}
                    {{ form_criarconta.email (class="form-control")}}
                </div>

                <div class="form-group">
                    {{ form_criarconta.senha.label (class="form-control-label")}}
                    {{ form_criarconta.senha (class="form-control")}}
                </div>

                <div class="form-group">
                    {{ form_criarconta.confirmacao_senha.label (class="form-control-label")}}
                    {{ form_criarconta.confirmacao_senha (class="form-control")}}
                </div>

            </fieldset>

            {{ form_criarconta.botao_submit_criarconta (class="btn btn-primary mt-2") }}        
        </form>
    </div>

{% endblock %}