{% extends 'base.html' %}

{% block body %}
<section class="w-100 px-4 py-5" style="background-color:rgb(242, 249, 252); border-radius: .5rem .5rem 0 0;">
    <div class="row d-flex justify-content-center">
      <!-- Reduzindo ainda mais a largura do card -->
      <div class="col col-md-6 col-lg-5 col-xl-4">
        <div class="card" style="border-radius: 50px; max-width: 400px; margin: 0 auto;">
          <div class="card-body p-3">
            <div class="d-flex">
              <!-- Imagem de perfil -->
              <div class="flex-shrink-0">
                <img src="{{ foto_perfil }}"
                  alt="Generic placeholder image" class="img-fluid" style="width: 150px; border-radius: 10px;">
              </div>
              <!-- Informações do usuário -->
              <div class="flex-grow-1 ms-3 pe-3">
                <h5 class="mb-1">{{ current_user.username }}</h5>
                <p class="mb-2 pb-1">{{ current_user.email }}</p>
                <!-- Cursos e Posts nas extremidades -->
                <div class="d-flex justify-content-between rounded-3 p-2 mb-2 bg-body-tertiary">
                  <div>
                    <p class="small text-muted mb-1">Cursos</p>
                    <p class="mb-0">0</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Posts</p>
                    <p class="mb-0">0</p>
                  </div>
                </div>
                <!-- Botão com largura reduzida -->
                <div class="d-flex pt-1 justify-content-center">
                  <button type="button" data-mdb-button-init data-mdb-ripple-init 
                    class="btn btn-primary" style="width: 120px;">Follow</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}